.process-container {
  background-color: $qweb-light-gray;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .text {
    margin-top: 70px;
  }

  img {
    margin: 30px 0 50px;
    width: 70vw;
  }

  @media (max-width: $screen-sm) {
    .text,
    img {
      margin-left: 20px;
    }
  }
}
